@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(50px); }
  80% {
    transform: translateX(-5px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

.left_area {
  color: unset;
  display: inline-block;
  user-select: none;
  text-decoration: none;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-functions: ease-out; }
  .left_area h3 {
    color: #fff;
    margin-left: 3rem;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900; }
  .left_area span {
    color: #19B3D3; }

.content {
  padding-top: 4rem;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.box {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 3rem auto; }

.box--card {
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

.box--card:before,
.box--card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1; }

.box--card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); }

.box--card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); }

.box--card .box--imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1; }

@media screen and (max-width: 768px) {
  .box--card .box--imgBx {
    bottom: 50px; } }

.box--card:hover .box--imgBx {
  bottom: 50px; }

.box--card .box--imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.box--card .box--details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 50px;
  text-align: center; }

.box--card .box--details h2 {
  margin: 0;
  padding: 12px;
  font-weight: 600;
  color: #777;
  text-transform: uppercase; }

.logout_btn {
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background; }
  .logout_btn:hover {
    background: #0B87A6; }

.greyButton {
  background: #777777; }

.gradient-text {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #000, #777);
  -webkit-background-clip: text;
  color: transparent; }

header {
  position: fixed;
  background: #22242A;
  padding: 1rem;
  width: 100%;
  height: 30px;
  z-index: 2;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* Portrait page */
.page-wrap {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start; }

@media screen and (max-width: 736px) {
  #nav ul li {
    width: 3.4em; } }

.sidebar {
  background: #2f323a;
  margin-top: 40px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 55px;
  height: 100%;
  transition: 0.5s;
  transition-property: left; }
  .sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px; }
  .sidebar li {
    list-style-type: none; }
  .sidebar ul {
    padding-left: 1rem; }
  .sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background; }

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  label #sidebar_btn:hover {
    color: #19B3D3; }

.navigation--checkbox {
  display: none; }

.navigation--button {
  background-color: #fff;
  height: 2.8rem;
  width: 2.8rem;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer; }

.navigation--background {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-image: radial-gradient(#19B3D3, #053552);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation--nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: -100rem;
  z-index: 1;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.6, -0.55, 0.26, 1.25); }

.navigation--list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation--item {
  margin: 2rem; }

.navigation--link:link, .navigation--link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 0.8rem 1.5rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s; }

.navigation--link:hover, .navigation--link:active {
  background-position: 100%;
  color: #000;
  transform: translateX(1rem); }

.navigation--checkbox:checked ~ .navigation--background {
  transform: scale(80); }

.navigation--checkbox:checked ~ .navigation--nav {
  opacity: 1;
  width: 100%;
  left: 0rem; }

.navigation--icon {
  position: relative;
  margin-top: 1.3rem; }
  .navigation--icon, .navigation--icon::before, .navigation--icon::after {
    width: 1.5rem;
    height: 2px;
    background-color: #22242A;
    display: inline-block; }
  .navigation--icon::before, .navigation--icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation--icon::before {
    top: -0.4rem; }
  .navigation--icon::after {
    top: 0.4rem; }

.navigation--button:hover .navigation--icon::before {
  top: -0.8rem; }

.navigation--button:hover .navigation--icon::after {
  top: 0.8rem; }

.navigation--checkbox:checked + .navigation--button .navigation--icon {
  background-color: transparent; }

.navigation--checkbox:checked + .navigation--button .navigation--icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation--checkbox:checked + .navigation--button .navigation--icon::after {
  top: 0;
  transform: rotate(-135deg); }

@media screen and (min-width: 1110px) {
  .navigation--button {
    display: none; }
  .navigation--background {
    display: none; }
  .navigation--nav {
    position: unset;
    height: unset;
    z-index: 1;
    opacity: 1;
    transition: all 0.8s cubic-bezier(0.6, -0.55, 0.26, 1.25); }
  .navigation--list {
    display: flex;
    flex-direction: row;
    text-align: center;
    top: 20%;
    left: 100%; }
  .navigation--link:link, .navigation--link:visited {
    font-size: 1rem;
    padding: 0.4rem 1rem; }
  .navigation--link:hover, .navigation--link:active {
    transform: translateX(0.5rem); }
  .navigation--item {
    margin: unset; } }
