$color-black: #000;
$color-white: #fff;
$color-blue: #19b3d3;
$color-header: #22242a;
$color-dark-blue: #053552;
$gradient-light: #6a84ad;
$gradient-dark: #292b67;
$transparent-black: rgba(0, 0, 0, 0.5);

$themes: (
	light:
		(
			color-background: #d8d8d8,
			title-color: #212121,
			text-color: $color-black,
			text-hovered: $color-white,
			box-color: $color-black,
			neoMorphHighlight: #ffffff,
			neoMorphShadow: #979898
		),
	dark:
		(
			color-background: #37474f,
			title-color: $color-white,
			text-color: $color-white,
			text-hovered: $color-black,
			box-color: $color-white,
			neoMorphHighlight: #535f65,
			neoMorphShadow: #1d313a
		)
);
