body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background: linear-gradient(to left top, #10112C, #52698C) fixed;
  }